[Unit]
Description=Starts ansible-pull to get common server configuration
Requires=ansible-pull.service

[Timer]
Unit=ansible-pull.service
OnCalendar={{ workstation_reconcile_timer }}

[Install]
WantedBy=timers.target
